$FontPath: "../fonts/";
@font-face {
  font-family: 'bizunbound-icon';
  src:  url('#{$FontPath}bizunbound-icon.eot?e6dhcp');
  src:  url('#{$FontPath}bizunbound-icon.eot?e6dhcp#iefix') format('embedded-opentype'),
    url('#{$FontPath}bizunbound-icon.ttf?e6dhcp') format('truetype'),
    url('#{$FontPath}bizunbound-icon.woff?e6dhcp') format('woff'),
    url('#{$FontPath}bizunbound-icon.svg?e6dhcp#bizunbound-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bizunbound-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-github:before {
  content: "\e900";
}
