footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:$gray-24;
  padding:rem(50px 0);
  color:$white;

  p{
    font-weight: 300;
    font-size: rem(14px);
    line-height: normal;
  }
}