html{
  position: relative;
  min-height: 100%;
  font-size: rem(16px);
}

body {
  min-height: 100vh;
  padding: 0;
  margin-bottom: rem(188px);

  @include media-breakpoint-down(sm) {
    margin-bottom: rem(206px);
  }

  @media (max-width: 320px){
    margin-bottom: rem(224px);
  }
}

// Animation
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.section-scroll {

  &.active {

    .box-left, .box-right {
      // opacity: 1;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }
  }
}

// button
.btn-outline-white{
  color: $white;
  border-color: $white;
  border-radius: rem(25px);
  width: rem(200px);
  font-weight: 300;
  padding: rem(12px);
  @extend .text-uppercase;

  @include media-breakpoint-down(sm) {
    font-size: rem(14px);
  }

  &:hover{
    color: $white;
  }
  &:focus{
    box-shadow: none;
  }
}

.btn-top{
  background-color: #525252;
  border-color: #525252;
  padding: rem(8px 16px);
  position: fixed;
  right: rem(48px);
  bottom: rem(40px);
  z-index: 1;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.24);
  border-radius: rem(10px);
  
  &:hover, &:focus{
    background-color: #525252;
    border-color: #525252;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: #525252;
    border-color: #525252;
  }

  >img{
    width: rem(24px);
  }

  @include media-breakpoint-down(sm) {  
    right: rem(20px);
    bottom: rem(15px);
    padding: rem(10px 6px);

    >img{
      width: 60%;
    }
  }
}


.section-bizunbound {
  min-height: 100vh;

  @media (max-width: 812px) and (orientation:landscape){
    padding: rem(32px) 0;
  }

  @include media-breakpoint-down(sm) {
    padding: rem(32px) 0;
  }

  > .container{
    @include flexbox();
    @include align-items(center);
    min-height: 100vh;

    @include media-breakpoint-down(sm) {
      @include flex-direction(column);
      @include justify-content(center);
    }
  }

  .section-heading{
    margin-bottom: rem(24px);
    font-weight: 600;

    &.heading-sm{
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
        margin-bottom: rem(40px);
      }
    }
  }

  .content-box{
    padding: 0 rem(24px);

    &.box-left {
      max-width: 55%;
      @include flex(0 0 55%);

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 1 auto);
      }
    }

    &.box-right {
      max-width: 45%;
      @include flex(0 0 45%);

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 1 auto);
      }

      .section-heading {
        text-align: right;

        @include media-breakpoint-down(sm) {
          text-align: left;
        }
      }

      p {
        text-align: right;

        @include media-breakpoint-down(sm) {
          text-align: left;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
      @include order(2);

      .section-heading {
        display: none;
      }
    }

    p{
      font-size: rem(18px);
      line-height: rem(48px);
      font-weight: 200;

      @include media-breakpoint-down(md) { 
        line-height: rem(32px);
      }

      @include media-breakpoint-down(sm) {
        font-weight: 300;
        line-height: rem(32px);
      }
    }
  }

  .banner-box{
    padding: 0 rem(24px);
    text-align: center;

    &.box-left {
      max-width: 55%;
      @include flex(0 0 55%);

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 1 auto);
      }
    }

    &.box-right {
      max-width: 45%;
      @include flex(0 0 45%);
      
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 1 auto);
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
      @include order(1);
      margin: 0 0 rem(40px);

      img {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.section-top{
  min-height: 100vh;
  background: transparent url(../images/header-bg.svg) no-repeat;
  background-size: cover;
  color: $white;
  overflow: hidden;

  > .container {
    @include flexbox();
    @include flex-direction(column);
    min-height: 100vh;
  }

  @include media-breakpoint-down(md) { 
    background-position: center center;
  }

  .logo-wrap{
    padding-top: rem(16px);

    .img-logo{
      height: rem(140px);

      @include media-breakpoint-down(sm) {
        height: rem(120px);
      }
    }
  }

  .banner-content{
    @include flexbox();
    @include flex-direction(column);
    @include flex(1 1 auto);
    @include justify-content(center);
  
    @media (max-width: 812px) and (orientation:landscape){
      padding: rem(32px) 0;
    }

    @include media-breakpoint-down(sm) { 
      padding: rem(32px) 0;
    }

    h6{
      font-weight: 300;
      @extend .text-uppercase;
      margin-bottom: rem(16px);

      @media (max-width: 812px) and (orientation:landscape){
        font-size: rem(14px);
        margin-bottom: rem(24px);
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(14px);
        margin-bottom: rem(24px);
      }
    }

    h1{
      width: rem(1024px);
      font-size: rem(48px);
      line-height: 1.8;
      @extend .text-uppercase;
      margin-bottom: rem(52px);

      @media (max-width: 1440px){
        width: rem(860px);
        font-size: rem(40px);
      }

      @include media-breakpoint-down(lg) { 
        width: rem(690px);
        font-size: rem(32px);
      }

      @include media-breakpoint-down(md) {
        width: rem(450px); 
        font-size: rem(28px);
      }

      @media (max-width: 812px) and (orientation:landscape){
        width: 75%; 
        font-size: rem(24px);
        margin-bottom: rem(40px);
      }

      @include media-breakpoint-down(sm) {
        width: 100%; 
        font-size: rem(24px);
      }
    }
  }
}

.section-vision{
  background-color: #e0eef1;

  &.active {

    .box-left {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
  }
}

.section-role {
  background-color: #d5e3e6;

  &.active {

    .box-right {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
  }
}

.section-info {
  background-color: #ccdadd;

  &.active {

    .box-left {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
  }
}

.section-app {
  background-color: #e4f2f5;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    .header-wrap {
      position: sticky;
      top: 0;
      z-index: 1020;
      background-color: #e4f2f5;
      width: 100%;
      padding-top: rem(40px);
    }
  
  > .container {
    @include flex-direction(column);
    padding-bottom: rem(128px);

    @include media-breakpoint-down(sm) {
      padding-bottom: rem(80px);
    }
  }

  .section-heading{
    color: $fountain-blue;
    margin-bottom: rem(8px);
    padding-top: rem(16px);

    @include media-breakpoint-down(sm) {
      font-size: rem(28px);
    }
  }

  .app-wrap{
    min-height: calc(100vh - 102px);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    @include media-breakpoint-down(md) {
      min-height: 75vh;
    }

    &.customer-app {

      @include media-breakpoint-down(sm) {
        padding: rem(32px) 0;
      }

      .wrap-content {
        @include flexbox();
        @include align-items(center);

        @include media-breakpoint-down(sm) {
          @include flex-direction(column);
          margin-bottom: rem(60px);
        }
      }
    }

    &.store-app {
      min-height: 50vh;
      padding-top: rem(64px);
      @include align-items(flex-start);

      @include media-breakpoint-down(md) {
        padding-top: rem(32px);
      }

      @include media-breakpoint-down(sm) {
        padding-top: 0px;
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .app-mobile-info {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
        padding: rem(0 0 48px);
      }

      h6{
        font-weight: 600;
      }
    }

    .app-left{
      max-width: 30%;
      flex: 0 0 30%;
      @extend .px-2;
  
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 0 100%);
        }
      
      > img{
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  
    .app-right{
      max-width: 70%;
      flex: 0 0 70%;
      @extend .px-2;
  
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        @include flex(0 0 100%);
      }

      > .customer-md{
        display: block;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      > .customer-sm{
        display: none;

        @include media-breakpoint-down(sm) {
          display: block;
          margin-bottom: 50px;
        }
      }
    }
  }

  p{
    font-weight: 100;
  }
}

.section-demo {
  min-height: auto;
  background-color: $gray-20;
  color: $columbia-blue;
  padding: rem(80px 0);

  > .container {
    display: block;
    min-height: auto;
  }

  .demo-text{
    font-weight: 300;
    @extend .text-uppercase;
  }

  .contact-wrapper {
    margin: 0 rem(-48px);

    @include media-breakpoint-down(md) {
      margin: 0 rem(-32px);
    }

    @include media-breakpoint-down(sm) {
      margin: 0 rem(-16px);
      @include flex-direction(column);
    }
  }

  .contact-form {
    max-width: 65%;
    @include flex(0 0 65%);
    padding: 0 rem(24px);

    @include media-breakpoint-down(md) {
      max-width: 60%;
      @include flex(0 0 60%);
      padding: 0 rem(16px);
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      @include flex(0 0 100%);
      margin: 0 0 rem(56px);
    }

    form {
      width: 75%;
     
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  .contact-info {
    max-width: 35%;
    @include flex(0 0 35%);
    padding: 0 rem(24px);

    @include media-breakpoint-down(md) {
      max-width: 40%;
      @include flex(0 0 40%);
      padding: 0 rem(16px);
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      @include flex(0 0 100%);
    }
  }

  .card{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #8BE9FF, rgba(0, 0, 0, 0)) 20% 40%;
    @include border-radius(10px);

    .card-header{
      background-color: transparent;
      border-bottom: none;
      padding: rem(32px 40px 16px);
    }

    .card-body{
      padding: rem(24px 40px);

      .form-control{
        border: 0 none;
        border-bottom: rem(1px) solid #606060;
        border-radius: 0;
        background-color: transparent;
        color: $white;
        height: rem(36px);
        padding: rem(6px) 0;

        &:focus{
          color: $white;
          box-shadow: none;
        }
      }
      ::placeholder{
        color: #c6c6c6;
        font-size: rem(12px);
        font-weight: 300;
      }
    }
  }

  .contact-info {

    .card-header {
      padding: rem(32px 16px 16px);
    }

    .card-body {
      padding: rem(24px 16px);
    }
  }
  
  .contact-deatils{

    .address, .email{
      margin-bottom: rem(36px);
    }

    p{
      color: $white;
      font-weight: 300;
      @extend .text-uppercase;
      @extend .mb-2;
    }

    a{
      color: $columbia-blue;
      &:hover{
        text-decoration: none;
      }
    }

    span{
      margin-bottom: 0;
      display: block;
      font-weight: 300;
      font-size: rem(14px);
      line-height: normal;
    }
  }

  .social-icons{

    a{
      display: block;
      margin-bottom: rem(8px);

      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        text-decoration: none;
      }

      i{
        color: $white;
        font-size: rem(24px);
        line-height: normal;
      }
    }
  }
}