@import '../../node_modules/sass-rem/rem';
@import '../../node_modules/sass-flex-mixin/flex';

@mixin valign() {
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
