extends ./layouts/bootstrap.jade

block content
  section.section-scroll.section-top
    .container
      div.logo-wrap
        img.img-logo(src="./images/bizunbound-logo.svg", alt="Bizunbound Logo")
      section.banner-content.animated.fadeInRight
        h6 welcome to bizunbound
        h1 your own branded crm mobile app at an affordable subscription to grow your business
        button.btn.btn-outline-white.reqDemo(type='button') request a demo
  section.section-bizunbound.section-scroll.section-vision
    .container
      h2.section-heading.heading-sm.text-uppercase  Our Vision
      .box-left.content-box
        h2.section-heading.text-uppercase  Our Vision
        p.mb-0 Use Mobile Technology to empower traditional Medium, Small and Micro Entrepreneurs, who are currently struggling to retain their customer base against the giant online e-commerce platforms.
      .box-right.banner-box
        img.img-fluid(src="./images/our-vision.png", alt="Our Vision")
  section.section-bizunbound.section-scroll.section-role
    .container
      h2.section-heading.heading-sm.text-uppercase  Our Role
      .box-left.banner-box
        img.img-fluid.w-100(src="./images/our-role.png", alt="Our Role")
      .box-right.content-box
        h2.section-heading.text-uppercase  Our Role
        p.mb-0 Each store has its OWN BRANDED Android and iOS MOBILE APPLICATION with a STRONG ANALYTICAL System. Now, store can focus on GROWING THEIR BUSINESS BEYOND BOUNDARIES.
  section.section-bizunbound.section-scroll.section-info
    .container
      h2.section-heading.heading-sm.text-uppercase  What you get
      .box-left.content-box
        h2.section-heading.text-uppercase  What you get
        p.mb-0 Each store has its 
            span.text-uppercase own branded 
            | Android and iOS 
            span.text-uppercase mobile application 
            | with a 
            span.text-uppercase strong analytical 
            |  system. Now, store can focus on 
            span.text-uppercase Growing their business beyond boundaries.
      .box-right.banner-box
        img.img-fluid.w-100(src="./images/macbook.png", alt="What You Get")
  section.section-bizunbound.section-scroll.section-app
    .container
      .header-wrap.sticky-top.text-center
          h2.section-heading.text-uppercase how it works ?
          p There are two versions of Mobile app
      .app-wrap.customer-app.flex-column
        .wrap-content.py-3
          .app-mobile-info.text-center
            h6.mb-4 Customer App
            p Store Branded app for customer to connect directly with store, order products and make payment.
          .app-left 
            img.img-fluid(src="./images/customer-mobile.png", alt="custom-mobile")
          .app-right
            img.img-fluid.customer-md(src="./images/customer-app.png", alt="customer-app")
            img.img-fluid.customer-sm(src="./images/customer-app-mobile.png", alt="custom-mobile")
      .app-wrap.store-app
        .app-mobile-info.text-center
          h6.mb-4 Store App
          p Store Owner/Manager App to receive the orders from their customers, Update delivery status, Payment & Use for Promotion.
        .app-right
          img.img-fluid.customer-md(src="./images/store-app.png", alt="store-app")
          img.img-fluid.customer-sm(src="./images/store-app-mobile.png", alt="store-app")
        .app-left
          img.img-fluid(src="./images/store-mobile.png", alt="store-mobile")
  section.section-bizunbound.section-scroll.section-demo
    .text-center
        p.demo-text.mb-0 contact us
        h3.text-white.mb-5 Request for a demo
    .container  
      .contact-wrapper.d-flex
        .contact-form
          .card
            .card-header
              h6.mb-0.text-uppercase send us a message
            .card-body
              form
                .form-group
                  label.sr-only(for='name') Name
                  input#name.form-control(type='text', placeholder='Your Name')
                .form-group
                  label.sr-only(for='phnNo') Phone Number
                  input#phnNo.form-control(type='tel', placeholder='Phone Number')
                .form-group
                  label.sr-only(for='eamil') Email
                  input#eamil.form-control(type='email', placeholder='Email')
                .form-group.mb-5
                  label.sr-only(for='sname') Store Name
                  input#sname.form-control(type='text', placeholder='Store Name')
                button.btn.btn-outline-white.text-uppercase(type='submit') submit
        .contact-info
          .card.h-100
            .card-header
              h6.mb-0.text-uppercase contact info
            .card-body.d-flex.justify-content-between
              .contact-deatils
                .address
                  p where to find us
                  span.text-uppercase pune
                  span Pune, Maharashtra
                  span India
                .email
                  p email us at
                  a(href="mailto:sales@bizunbound.com") sales@bizunbound.com
                .call
                  p call us at
                  span +91 91372 28391
              .social-icons.align-self-end
                a(href="javascript:void(0)")
                  i.icon-facebook
                a(href="javascript:void(0)")
                  i.icon-linkedin
                a(href="javascript:void(0)")
                  i.icon-github
                a(href="javascript:void(0)")
                  i.icon-twitter
  button.btn.btn-dark.btn-top(type='button')
    img(src="./images/home@2x.png", alt="Home")