doctype html
html(class="no-js", lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(content="IE=edge", http-equiv="X-UA-Compatible")
      meta(content="width=device-width, initial-scale=1, user-scalable=0", name="viewport")
      meta(name="msapplication-TileColor", content="#000000")
      meta(name="theme-color", content="#000000")
      title Bizunbound
      link(rel='stylesheet', href="styles/main.css")
      link(rel='stylesheet', href="styles/animate.min.css")
      link(href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600', rel='stylesheet')
      //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]
  body
    //[if (lt IE 9) & (!IEMobile)]> <p class="browsehappy">Você está usando um <strong>navegador antigo</strong>. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> para uma boa experiência.</p> <![endif]
  
    block content
      h1 Identity

    block footer
      include ./../inc/footer.jade

    block scripts
      script(src='scripts/vendors.min.js')
      script(src='scripts/scripts.js')
      script.
        $(function () {
          $.scrollify({
            section : ".section-scroll",
            easing: "easeOutExpo",
            setHeights: false,
            scrollSpeed: 1100,
            updateHash: false,
            before: function(){
              current = $.scrollify.current();
              current.addClass('active')
              setTimeout( function(){
                $('.section-scroll').removeClass('active')
              }, 800);
            }
          })
                    
          function checkWidth() {
            var $window = $(window);
            var windowsize = $window.width();
            if (windowsize <= 991.98) {
              $.scrollify.disable();
            }
          }
          checkWidth();
          $(window).resize(checkWidth);

          var scrollTop = $(".btn-top");
          $(window).scroll(function() {
            var topPos = $(this).scrollTop();
            $(scrollTop).css("opacity", "1");
          });
          $(scrollTop).click(function() {
            $('html, body').animate({
              scrollTop: 0
            }, 800);
            return false;
          });
          $('.reqDemo').click(function() {
            $("html,body").stop().animate({scrollTop:$('.section-demo').offset().top});
          });
        });